<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="j2objc-plugin-eclipse.objectContribution1"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               id="j2objc-plugin-eclipse.menu2"
               label="J2ObjC"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="com.laex.j2objc.ToObjectiveCAction"
               id="j2objc-plugin-eclipse.action1"
               label="To Objective-C"
               menubarPath="j2objc-plugin-eclipse.menu2/group1"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.laex.j2objc.preferences.J2ObjCPreferencePage"
            id="j2objc-plugin-eclipse.page1"
            name="J2ObjC">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.laex.j2objc.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.laex.j2objc.preferences.J2ObjCPropertyPage"
            id="J2ObjCPropertyPage"
            name="J2ObjC"
            selectionFilter="single">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
           <enabledWhen>
        <adapt
              type="org.eclipse.core.resources.IProject">
        </adapt>
           </enabledWhen>
      </page>
      <page
            category="J2ObjCPropertyPage"
            class="com.laex.j2objc.preferences.PackagePrefixPropertyPage"
            id="J2ObjCPropertyPage.PackagePrefix"
            name="Package Prefix"
            selectionFilter="single">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="J2ObjCPropertyPage"
            class="com.laex.j2objc.preferences.ClasspathPropertyPage"
            id="J2ObjcPropertyPage.Classpath"
            name="Classpath"
            selectionFilter="single">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="J2ObjCPropertyPage"
            class="com.laex.j2objc.preferences.PluginsPropertyPage"
            id="J2ObjcPropertyPage.Plugins"
            name="Plugins">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="J2ObjCPropertyPage"
            class="com.laex.j2objc.preferences.OutputDirPropertyPage"
            id="J2ObjcPropertyPage.OutputDir"
            name="Output Directory">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
